.mybtn{
  /* margin-left: 100px; */
  /* align-items: center; */
  zoom:125%;
}

.myImg {
  background-image: url("bg-adbox.png");
  /*background-color: #f2f2f2;*/
  background-size: 2000px 2000px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  /*background-color: transparent;*/
  /* color: white; */
  text-align: center;
  padding: 90px;
}

.jumbotron{
    border-radius: 50px;
}

.myImgTable {
    background-color: #519194;
  /*background-image: url("lol4.jpg");*/
  background-size: 2000px 2000px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  /*background-color: transparent;*/
   /*color: white;*/ 
  text-align: center;
  padding: 90px;
  border-radius: 50px;
}

#footer {
	background: #4c8f96;
	border-top: 1px solid #9bd9e0;
	margin: 0;
	padding: 0;
        align-content: center;
}
#footer > div {
	margin: 0 auto;
	padding: 30px 0 28px;
	overflow: hidden;
	text-align: center;
	width: 960px;
}
#footer div p {
	color: #ededed;
	display: inline-block;
	float: right;
	font-size: 12px;
	letter-spacing: 0.05em;
	margin: 0;
	padding: 27px 0 0;
	text-align: center;
}