body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;

}

.bodymain{
  background-image: url("3.jpg");
  /* background-size: 2000px 2000px; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-color: transparent;
  color: white;
  /* text-align: center; */
  /* padding: 400px; */
}

.logform{
    background-color: #000000;
    border-radius: 10px;
    color: #ffffff;
}

.mybtn:hover{
    background-color: #0275d8;
}

.sidenav {
    height: 100%;
    /* background-color: #000; */
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 50px;
    background-color: #000000;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%;
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
        padding: 30px;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

.myprimary {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab );
  background-size: 400% 400%;
  -webkit-animation: gradientBG 10s ease infinite;
          animation: gradientBG 10s ease infinite;
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
